<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="file:serilog:using" value="Serilog.Sinks.File"/>
    <add key="file:serilog:write-to:File.path" value="c:/logs/Net46ConsoleApp.log"/>
    <add key="console:serilog:using" value="Serilog.Sinks.Console"/>
    <add key="console:serilog:write-to:Console"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>