<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="console:serilog:using" value="Serilog.Sinks.Console"/>
    <add key="console:serilog:write-to:Console"/>

    <add key="file:serilog:using" value="Serilog.Sinks.File"/>
    <add key="file:serilog:write-to:File.path" value="c:/logs/Net46ConsoleApp.log"/>

    <add key="es:serilog:using" value="Serilog.Sinks.Elasticsearch" />
    <add key="es:serilog:write-to:Elasticsearch.nodeUris" value="http://localhost:9200" />
    <!--<add key="es:serilog:write-to:Elasticsearch.nodeUris" value="http://10.60.0.148:9200" />-->
    <add key="es:serilog:write-to:Elasticsearch.indexFormat" value="example-net46console-app-{0:yyyy.MM}" />
    <add key="es:serilog:write-to:Elasticsearch.autoRegisterTemplate" value="true" />
    <add key="es:serilog:write-to:Elasticsearch.autoRegisterTemplateVersion" value="ESv6" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>